{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">

            <h1>ITEM</h1>

            {{ dump(item) }}
            {{ dump(invoiceItems) }}

        </div>
    </div>
</div>


{% endblock %}
